
#logo {
  float: right;
}


#site-name {
  padding: 25px;
}


#comments .view-no-results {
  margin-bottom: 20px;
  margin-left: 10px;
}


#block-time-emails-email-all-assignees-of-cur-job .block-content {
  float:right;
  margin-right: 10px;
}

#block-time-emails-email-cur-job-to-all-sw {
  float:right;
}

#block-time-add-visit-go-to-add-visit {
  float:right;
  margin-right: 15px;
}


.view-available-jobs thead tr {
}

.view-available-jobs table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.view-available-jobs .job-status-1 .views-field-field-job-summary {
  border-color: blue;
  border-width: 1px;
  border-style: solid;
}

.view-available-jobs .job-status-4 .views-field-field-job-summary {
  border-color: red;
  border-width: 2px;
  border-style: dashed;
}


.view-id-visits .unassigned-visit {
  background-color: pink;
}
