
#logo {
  float: right;
}

#site-name {
  padding: 25px;
}

#comments .view-no-results {
  margin-bottom: 20px;
  margin-left: 10px;
}

#block-time-add-visit-go-to-add-visit .block-content {
  float:right;
  margin-right: 25px;
}
